/* настройки для всего документа: цвет текста, шрифт, ширина */
html {
    font-family: Nunito, sans-serif;
    width: 100%;
}

/* настройки тела документа, грид-контейнер из 12 колонок и _____ строк */
body {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(auto-fit(8, max-content));
    grid-row-gap: 2rem;
}

/* настройки всех ссылок: белые, без оформления */
a {
    color: white;
    text-decoration: none;
}

/* основной блок, грид-элемент, грид-контейнер из 12 колонок для хедера, заголовка, интро и поля поиска */
#main {
    /*background-image: url("assets/images/mainphoto.png");*/
    background: linear-gradient(0.87deg, rgba(2, 55, 135, 0.9) 0.69%, rgba(81, 38, 174, 0.4736) 100.48%, rgba(38, 92, 174, 0.0102906) 100.49%, rgba(195, 195, 196, 0.00520833) 100.5%, #76A6EF 100.51%);

    color: rgb(255, 255, 255);

    height: 865px;
    width: 100%;
    grid-row: 1/2;
    grid-column: 1/13;

    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
}

/*#background {
    grid-row: 1/2;
    grid-column: 1/13;
    z-index: -1;
    width: 100%;
}*/

/* хедер, грид-элемент, грид-контейнер для лого и меню */
#header {
    grid-row: 2/3;
    grid-column: 2/12;

    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
}

/* логотип, грид-элемент */
#logo {
    grid-row: 1/2;
    grid-column: 1/2;
}

/* меню хедера, грид-элемент, гри-контейнер для ссылок */
#navheader {
    grid-row: 1/2;
    grid-column: 2/3;

    display: grid;
    grid-template-columns: repeat(auto-fit(4, 200px));
    grid-template-rows: 1fr;
    grid-gap: 2rem;
    text-align: center;

    font-family: Nunito, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
}

/* ссылки меню, грид-элементы */
.nav1 {
    grid-row: 1/2;
    grid-column: 1/2;
    justify-self: end;
    /* выравнивание в конец блока для ровности, тк длина слов всех пунктов в меню неодинакова, */
}

.nav2 {
    grid-row: 1/2;
    grid-column: 2/3;
}

.nav3 {
    grid-row: 1/2;
    grid-column: 3/4;
}

.nav4 {
    grid-row: 1/2;
    grid-column: 4/5;
}

/* настройки заголовка основного блока */
#h1 {
    font-weight: 700;
    font-style: normal;
    font-size: 60px;
    grid-row: 4/6;
    grid-column: 2/9;
}

/* настройки текста-введения */
#intro {
    font-weight: 400;
    font-style: normal;
    font-size: 29px;
    line-height: 39, 56px;
    grid-row: 7/9;
    grid-column: 2/9;
}

/* поле поиска, грид-элемент, грид-контейнер */
#searchfield {
    background: white;
    grid-row: 10/12;
    grid-column: 2/12;

    width: auto;
    padding: 10px;

    display: grid;
    grid-template-columns: 5% repeat(5, 1fr) 5%;
    grid-template-rows: 1fr 1fr;
    grid-gap: 1rem;
}

/* здесь по идее должны быть формы */
.sf {
    background-color: rgba(255, 200, 57, 0.5);
}

.sf1 {
    grid-row: 1/2;
    grid-column: 2/3;
}

.sf2 {
    grid-row: 1/2;
    grid-column: 3/7;
}

.sf3 {
    grid-row: 2/3;
    grid-column: 2/3;
}

.sf4 {
    grid-row: 2/3;
    grid-column: 3/4;
}

.sf5 {
    grid-row: 2/3;
    grid-column: 4/5;
}

.sf6 {
    grid-row: 2/3;
    grid-column: 5/6;
}

/* кнопка поиска */
.sfbutton {
    background-color: rgb(255, 200, 57);

    grid-row: 2/3;
    grid-column: 6/7;

    border: none;
    /*border-radius: 10px;*/

    font-family: Nunito, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1rem;
}

/* первый раздел с тремя фото, грид-элемент; флекс для выравнивания по центру */
#examples {
    /*background-color: burlywood;*/

    height: 700px;
    width: 100%;

    grid-row: 2/3;
    grid-column: 1/13;

    display: flex;
}

/* блок с фотографиями и текстовыми прямоугольниками, флекс-контейнер */
#photos {
    margin: auto;

    width: 1000px;
    height: 500px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

/* размеры фото */
.photo {
    width: 320px;
    height: 400px;
}

/* блок под фото */
.expl {
    color: #000000;

    height: 100px;
    width: 320px;

    box-shadow: 0px 4px 35px rgba(196, 143, 7, 0.49);

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

.arrow {
    background-color: rgb(255, 200, 57);
    color: rgb(0, 0, 0);

    height: 40px;
    width: 40px;
    border-radius: 50%;

    font-weight: bold;
    font-size: 1.5rem;
    line-height: 40px;
    text-align: center;

    margin: 1em;
}

/* текст внутри блока */
.expltext {
    font-family: Nunito, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1em;
}

/* появление цвета при наведении на блок */
.expl:hover {
    background-color: rgb(255, 200, 57);
}

.expl:hover .arrow {
    background-color: rgb(255, 255, 255);
}

/* третий блок, грид-элемент, грид-контейнер для преимуществ, иконок, фото и цветного прямоугольника */
#features {
    /*background-color: darkkhaki;*/
    grid-row: 3/4;
    grid-column: 1/13;

    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(auto-fill(1fr));
    grid-gap: 2rem;
}

/* заголовок второго блока */
#fh2 {
    grid-row: 1/2;
    grid-column: 2/7;
    font-size: 36px;
    font-weight: 600;
    color: rgb(0, 0, 0);
}

/* все текстовые блоки-преимущества */
.feature {
    height: 60px;
    width: auto;
    color: rgb(0, 0, 0);
}

/* фото справа */
.fphoto {
    height: 477px;
    width: auto;

    grid-row: 2/5;
    grid-column: 8/11;
}

/* цветной прямоугольник */
.frectangle {
    background-color: rgb(255, 200, 57);

    height: 377px;
    width: 321px;

    margin: 15%;

    grid-row: 2/5;
    grid-column: 7/11;

    z-index: -1;
}

/* иконки преимуществ */
.icon1 {
    grid-row: 2/3;
    grid-column: 2/3;
}

.icon2 {
    grid-row: 3/4;
    grid-column: 2/3;
}

.icon3 {
    grid-row: 4/5;
    grid-column: 2/3;
}

/* расположение текстовых-блоков */
.f1 {
    grid-row: 2/3;
    grid-column: 3/7;

    font-size: 2em;
}

.f2 {
    grid-row: 2/3;
    grid-column: 3/7;

    align-self: center;
    font-size: 1em;
}

.f3 {
    grid-row: 3/4;
    grid-column: 3/7;

    font-size: 2em;
}

.f4 {
    grid-row: 3/4;
    grid-column: 3/7;

    align-self: center;
    font-size: 1em;
}

.f5 {
    grid-row: 4/5;
    grid-column: 3/7;

    font-size: 2em;
}

.f6 {
    grid-row: 4/5;
    grid-column: 3/7;

    align-self: center;
    font-size: 1em;
}

/* секция для отправки телефона */
#telephone {
    grid-row: 4/5;
    grid-column: 1/13;

    display: grid;
    grid-template-columns: 1fr 90% 1fr;
}

/* желтый прямоугольник с текстом и формой */
#tel {
    background-color: #FFF5DA;
    grid-column: 2/3;

    padding: 7rem;
    margin: 3rem;
}

/* заголовок над белым прямоугольником с формой */
#telh2 {
    font-style: normal;
    font-weight: 600;
    font-size: 2em;
    line-height: 39px;
    color: #323232;
    width: auto;
}

/* текст над белым прямоугольником с формой */
.teltext {
    font-style: normal;
    font-weight: 400;
    font-size: 1.5em;
    color: #646464;
    width: auto;
}

/* белый прямоугольник с формой и кнопкой */
.telform {
    width: 600px;
    height: 50px;
    background-color: #ffffff;

    display: grid;
    grid-template-columns: 0.5fr 3fr 1fr;
    justify-content: space-between;
    align-items: center;

    margin-top: 2em;
}

/* иконка флага */
.flag-icon {
    width: 50px;
    height: 30px;
    justify-self: end;
}

/* поле ввода телефона */
.telinput {
    border: none;
    width: 90%;
}

/* кнопка отправки телефона */
.telbutton {
    background-color: rgb(255, 200, 57);
    color: #000000;
    width: 120px;
    height: 40px;

    border: none;

    font-style: normal;
    font-weight: 400;
    font-size: 1.5em;
    color: #000000;
}

/* секция-галерея картинок */
#gallery {
    grid-row: 5/6;
    grid-column: 1/12;

    width: 100%;

    /*display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 10%;*/

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /*grid-template-rows: 10% 1fr;*/
    grid-gap: 1.5em;
    padding: 5%;
}

/* заголовок секции-галерея картинок */
#galh2 {
    width: 50%;
    color: rgb(0, 0, 0);
    font-weight: 600;
    font-style: normal;
    font-size: 2em;

    grid-column: 1/5;

}

/* контейнер с картинками 
#gal {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 15px;
}*/

.galphoto {
    width: 193px;
    height: 306px;
}

/* секция со статьей и тремя картинками справа */
#collection {
    grid-row: 6/7;
    grid-column: 1/13;
    width: 100%;
    /*display: grid;
    grid-template-columns: 1fr 60%;
    grid-gap: 5%;*/
}

/* контейнер для статьи слева */
#colarticle {
    float: left;
    box-sizing: border-box;
    height: auto;
    width: 50%;
    padding-left: 5%;
    padding-right: 5%;
}

/* заголовок статьи */
#colh2 {
    color: rgb(0, 0, 0);
    font-weight: 600;
    font-style: normal;
    font-size: 2em;
}

/* текст статьи */
.coltext {
    color: rgb(96, 96, 96);
    font-weight: 400;
    font-style: normal;
    font-size: 1em;
    line-height: 1.4em;
}

/* кнопка под статьей */
.colbutton {
    border: none;
    background-color: rgb(255, 200, 57);
    box-shadow: (0px 4px 22px rgba(0, 0, 0, 0.16));
    width: 216px;
    height: 40px;

    font-weight: 400;
    font-style: normal;
    font-size: 1.5em;
}

/* контейнер для трех фото справа */
#colgallery {
    height: 420px;
    width: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

/* каждое фото в контейнере */
.colphoto {
    height: 420px;
    margin: 1%;
}

/* блок со статьей и ссылками */
#furniture {
    grid-row: 7/8;
    grid-column: 1/13;
    clear: both;
    margin-top: 5%;
}

/* контейнер с ссылками */
.frnt {
    width: 40%;
    padding: 5%;
    margin-top: 5%;
    float: left;
}

/* цвет ссылок */
.frnt a {
    color: rgb(0, 0, 0);
}

/* контейнер для статьи справа */
#furarticle {
    width: 50%;
    box-sizing: border-box;
    padding-right: 5%;
    float: right;
}

/* заголовок статьи */
#furh2 {
    color: rgb(0, 0, 0);
    font-weight: 600;
    font-style: normal;
    font-size: 2em;
}

/* текст статьи */
.furtext {
    color: rgb(96, 96, 96);
    font-weight: 400;
    font-style: normal;
    font-size: 1em;
}

.furtext::first-line {
    font-size: 1.5em;
}

#footer {
    background-color: rgb(9, 58, 122);
    color: #ffffff;
    font-family: 'Roboto', sans-serif;

    grid-row: 8/9;
    grid-column: 1/13;
}

#navfooter {
    width: 80%;
    height: 50px;
    margin: 0 10%;


    font-weight: 400;
    font-style: normal;
    font-size: 0.9em;
    color: rgb(202, 202, 202);

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

#cities {
    margin: 0 10%;
}

#footh3 {
    font-family: Nunito, sans-serif;
    ;
    font-weight: 600;
    font-style: normal;
    font-size: 2em;
}

.country {
    color: rgb(229, 229, 229);
    font-weight: 400;
    font-size: 1.3em;
}

.city {
    margin: 0 2% 0 0;
}

#contacts {
    display: grid;
    grid-template-columns: 1fr 3fr 2fr;
    justify-content: center;
    margin: 2% 0 0 10%;
}

.address {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;

    font-weight: 400;
    font-style: normal;
    font-size: 0.7em;
}

.adr {
    margin: 11px 0;
}

.app {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.gpl {
    max-width: 100%;
    margin-bottom: 5%;
}

.aps {
    max-width: 100%;
    margin-bottom: 5%;
}