/* настройки для всего документа: шрифт */
html {
    font-family: Nunito, sans-serif;
}

/* настройки тела документа, грид-контейнер */
body {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fit(8, max-content));
    grid-row-gap: 2rem;
    grid-template-areas:
        "main"
        "examples"
        "features"
        "telephone"
        "gallery"
        "collection"
        "furniture"
        "footer";
}

/* настройки всех ссылок: белые, без оформления */
a {
    color: white;
    text-decoration: none;
}

/* медиа-запросы для разных категорий ширин */

/* phones */
@media (max-width: 319px) {
    #main {
        background: linear-gradient(0.87deg, rgba(2, 55, 135, 0.9) 0.69%, rgba(81, 38, 174, 0.4736) 100.48%, rgba(38, 92, 174, 0.0102906) 100.49%, rgba(195, 195, 196, 0.00520833) 100.5%, #76A6EF 100.51%);

        color: rgb(255, 255, 255);

        height: min-content;
        width: 100%;
        padding-bottom: 10%;
        grid-area: main;

        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr) 10% 1fr;
        grid-gap: 1rem;
    }

    /* хедер, грид-элемент, грид-контейнер для лого и меню */
    #header {
        grid-row: 1/2;
        grid-column: 1/2;

        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        justify-items: center;
        align-items: center;
    }

    /* логотип, грид-элемент */
    #logo {
        grid-row: 1/2;
        grid-column: 1/2;
    }

    #navheader {
        grid-row: 2/3;
        grid-column: 1/2;

        display: grid;
        grid-template-columns: repeat(auto-fit(4, 200px));
        grid-template-rows: 1fr;
        grid-gap: 2rem;
        text-align: center;

        font-family: Nunito, sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 1.6rem;
    }

    /* настройки заголовка основного блока */
    #h1 {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        font-weight: 700;
        font-style: normal;
        font-size: 3.5rem;
        grid-row: 2/3;
        grid-column: 1/2;
        text-align: center;
    }

    /* настройки текста-введения */
    #intro {
        height: max-content;
        width: 100%;
        margin-left: 5%;
        margin-right: 5%;
        font-weight: 400;
        font-style: normal;
        font-size: 1.5rem;
        grid-row: 3/4;
        grid-column: 1/2;
        text-align: center;
    }

    /* поле поиска, грид-элемент, грид-контейнер */
    #searchfield {
        background: white;
        grid-row: 4/5;
        grid-column: 1/2;

        width: 50%;
        height: 100%;
        padding: 10px;
        justify-self: center;

        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(7, 1fr);
        grid-gap: 1rem;
    }

    /* здесь по идее должны быть формы */
    .sf {
        background-color: rgba(255, 200, 57, 0.5);
    }

    .sf1 {
        grid-row: 1/2;
        grid-column: 1/2;
    }

    .sf2 {
        grid-row: 2/3;
        grid-column: 1/2;
    }

    .sf3 {
        grid-row: 3/4;
        grid-column: 1/2;
    }

    .sf4 {
        grid-row: 4/5;
        grid-column: 1/2;
    }

    .sf5 {
        grid-row: 5/6;
        grid-column: 1/2;
    }

    .sf6 {
        grid-row: 6/7;
        grid-column: 1/2;
    }

    /* кнопка поиска */
    .sfbutton {
        background-color: rgb(255, 200, 57);

        grid-row: 7/8;
        grid-column: 1/2;

        border: none;
        /*border-radius: 10px;*/

        font-family: Nunito, sans-serif;
        font-weight: 600;
        font-style: normal;
        font-size: 1rem;
    }

    /* первый раздел с тремя фото, грид-элемент; флекс для выравнивания по центру */
    #examples {
        /*background-color: burlywood;*/

        height: min-content;
        width: 100%;

        grid-area: examples;

        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        justify-content: center;
    }

    /* блок с фотографиями и текстовыми прямоугольниками, флекс-контейнер */
    #photos {
        margin: auto;

        width: 80%;
        height: max-content;

        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(25vh, 1fr));
        grid-template-rows: 1fr;
    }

    /* размеры фото */
    .photo {
        width: 95%;
        object-fit: cover;
    }

    .photo img {
        width: 100%;
        height: auto;
    }

    /* блок под фото */
    .expl {
        color: #000000;

        height: 15vh;
        width: 100%;

        box-shadow: 0px 4px 35px rgba(196, 143, 7, 0.49);

        display: grid;
        grid-template-columns: 30% 70%;
        grid-template-rows: 1fr;
        justify-content: center;
        align-items: center;
    }

    /* текст внутри блока */
    .expltext {
        font-family: Nunito, sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 0.8rem;
    }

    .arrow {
        background-color: rgb(255, 200, 57);

        grid-column: 1/2;
        width: 40%;
        height: 40%;
        margin-left: 15%;
        border-radius: 50%;
    }

    .arrow span {
        height: 100%;
        color: rgb(0, 0, 0);
        font-weight: bold;
        font-size: 1rem;
        padding: auto;
    }

    /* третий блок, грид-элемент, грид-контейнер для преимуществ, иконок, фото и цветного прямоугольника */
    #features {
        /*background-color: darkkhaki;*/
        width: 100%;
        margin-top: 5%;
        grid-area: features;

        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 10% 1fr;

        grid-gap: 4rem;
    }

    /* заголовок второго блока */
    #fh2 {
        padding-left: 10%;
        grid-row: 1/2;
        grid-column: 1/2;
        font-size: 2rem;
        font-weight: 600;
        color: rgb(0, 0, 0);
        justify-self: center;
    }

    /* контейнер для строк преимуществ и иконок */
    #ftr {
        grid-row: 2/3;
        grid-column: 1/2;
        padding-left: 30%;

        display: grid;
        grid-template-columns: 20% 80%;
        grid-template-rows: repeat(3, 1fr);

        width: 100%;
        justify-self: center;
    }

    /* все текстовые блоки-преимущества */
    .f {
        width: 100%;
        color: rgb(0, 0, 0);

        grid-column: 2/3;

        font-size: 1rem;
    }

    .f::first-line {
        font-size: 1.8rem;
    }

    .f1 {
        grid-row: 1/2;
    }

    .f2 {
        grid-row: 2/3;
    }

    .f3 {
        grid-row: 3/4;
    }

    .icon {
        grid-column: 1/2;
    }

    /* контейнер для фото и прямоугольника */
    #ftrphoto {
        display: none;
    }

    /* секция со статьей и тремя картинками справа */
    #collection {
        grid-area: collection;
        width: 100%;
        height: max-content;
    }

    /* контейнер для статьи слева */
    #colarticle {
        box-sizing: border-box;
        height: auto;
        width: 100%;
        padding-left: 5%;
        padding-right: 5%;
        text-align: center;
    }

    #colarticle #colh2 {
        font-size: 4rem;
    }

    #colarticle .coltext {
        font-size: 2rem;
    }

    #colgallery {
        display: none;
    }

    /* блок со статьей и ссылками */
    #furniture {
        grid-area: furniture;

        display: flex;
        flex-direction: column;

        margin-top: 10%;
    }

    /* контейнер с ссылками */
    .frnt {
        width: 90%;
        padding: 0 10%;
        text-align: center;

        font-size: 2rem;
    }

    /* контейнер для статьи справа */
    #furarticle {
        width: 90%;
        padding: 0 10%;
        text-align: center;

        font-size: 2rem;
    }

    /* заголовок статьи */
    #furh2 {
        color: rgb(0, 0, 0);
        font-weight: 600;
        font-style: normal;
        font-size: 2em;
    }

    #footer {
        background-color: rgb(9, 58, 122);
        color: #ffffff;
        font-family: 'Roboto', sans-serif;

        grid-area: footer;
    }

    /* футер */
    #navfooter {
        width: 80%;
        height: 50px;
        margin: 10% 10% 15% 10%;


        font-weight: 400;
        font-style: normal;
        font-size: 2rem;
        color: rgb(202, 202, 202);

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    /* меню футера */
    #navfooter .nf {
        margin: 10px;
    }

    /* блок с городами */
    #cities {
        margin: 0 5%;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    /* заголовок блока с городами */
    #footh3 {
        font-family: Nunito, sans-serif;
        font-weight: 600;
        font-style: normal;
        font-size: 2em;
    }

    /* страны */
    .country {
        color: rgb(229, 229, 229);
        font-weight: 400;
        font-size: 2rem;
    }

    /* города-ссылки */
    .city {
        display: none;
    }

    /* блок с контактами */
    #contacts {
        display: grid;
        grid-template-columns: 1fr 3fr 2fr;
        justify-content: center;
        align-items: center;
        margin: 2% 0 0 10%;
    }

    /* блок с адресами */
    .address {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;

        font-weight: 400;
        font-style: normal;
        font-size: 1.5rem;
    }

    /* адрес */
    .adr {
        margin: 11px 0;
    }

    /* блок с иконками приложений */
    .app {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    /* лого гугл приложения */
    .gpl {
        max-width: 100%;
        margin-bottom: 5%;
    }

    /* лого ап стора */
    .aps {
        max-width: 100%;
        margin-bottom: 5%;
    }
}

/* portrait phones */
@media (min-width: 320px) and (max-width: 479px) {
    #main {
        background: linear-gradient(0.87deg, rgba(2, 55, 135, 0.9) 0.69%, rgba(81, 38, 174, 0.4736) 100.48%, rgba(38, 92, 174, 0.0102906) 100.49%, rgba(195, 195, 196, 0.00520833) 100.5%, #76A6EF 100.51%);

        color: rgb(255, 255, 255);

        height: min-content;
        width: 100%;
        padding-bottom: 10%;
        grid-area: main;

        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr) 10% 1.5fr;
    }

    /* хедер, грид-элемент, грид-контейнер для лого и меню */
    #header {
        grid-row: 1/2;
        grid-column: 1/2;

        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        justify-items: center;
        align-items: center;
    }

    /* логотип, грид-элемент */
    #logo {
        grid-row: 1/2;
        grid-column: 1/2;
    }

    #navheader {
        grid-row: 2/3;
        grid-column: 1/2;

        display: grid;
        grid-template-columns: repeat(auto-fit(4, 200px));
        grid-template-rows: 1fr;
        grid-gap: 2rem;
        text-align: center;

        font-family: Nunito, sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 1.6rem;
    }

    /* настройки заголовка основного блока */
    #h1 {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        font-weight: 700;
        font-style: normal;
        font-size: 3.5rem;
        grid-row: 2/3;
        grid-column: 1/2;
        text-align: center;
    }

    /* настройки текста-введения */
    #intro {
        height: max-content;
        width: 100%;
        margin-left: 5%;
        margin-right: 5%;
        font-weight: 400;
        font-style: normal;
        font-size: 1.5rem;
        grid-row: 3/4;
        grid-column: 1/2;
        text-align: center;
    }

    /* поле поиска, грид-элемент, грид-контейнер */
    #searchfield {
        background: white;
        grid-row: 4/5;
        grid-column: 1/2;

        width: 50%;
        height: 100%;
        padding: 10px;
        justify-self: center;

        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(7, 1fr);
        grid-gap: 1rem;
    }

    /* здесь по идее должны быть формы */
    .sf {
        background-color: rgba(255, 200, 57, 0.5);
    }

    .sf1 {
        grid-row: 1/2;
        grid-column: 1/2;
    }

    .sf2 {
        grid-row: 2/3;
        grid-column: 1/2;
    }

    .sf3 {
        grid-row: 3/4;
        grid-column: 1/2;
    }

    .sf4 {
        grid-row: 4/5;
        grid-column: 1/2;
    }

    .sf5 {
        grid-row: 5/6;
        grid-column: 1/2;
    }

    .sf6 {
        grid-row: 6/7;
        grid-column: 1/2;
    }

    /* кнопка поиска */
    .sfbutton {
        background-color: rgb(255, 200, 57);

        grid-row: 7/8;
        grid-column: 1/2;

        border: none;
        /*border-radius: 10px;*/

        font-family: Nunito, sans-serif;
        font-weight: 600;
        font-style: normal;
        font-size: 1rem;
    }

    /* первый раздел с тремя фото, грид-элемент; флекс для выравнивания по центру */
    #examples {
        /*background-color: burlywood;*/

        height: min-content;
        width: 100%;

        grid-area: examples;

        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        justify-content: center;
    }

    /* блок с фотографиями и текстовыми прямоугольниками, флекс-контейнер */
    #photos {
        margin: auto;

        width: 80%;
        height: max-content;

        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(25vh, 1fr));
        grid-template-rows: 1fr;
    }

    /* размеры фото */
    .photo {
        width: 95%;
        object-fit: cover;
    }

    .photo img {
        width: 100%;
        height: auto;
    }

    /* блок под фото */
    .expl {
        color: #000000;

        height: 15vh;
        width: 100%;

        box-shadow: 0px 4px 35px rgba(196, 143, 7, 0.49);

        display: grid;
        grid-template-columns: 30% 70%;
        grid-template-rows: 1fr;
        justify-content: center;
        align-items: center;
    }

    /* текст внутри блока */
    .expltext {
        font-family: Nunito, sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 0.7rem;
    }


    .arrow {
        background-color: rgb(255, 200, 57);

        grid-column: 1/2;
        width: 40%;
        height: 40%;
        margin-left: 15%;
        border-radius: 50%;
    }

    .arrow span {
        height: 100%;
        color: rgb(0, 0, 0);
        font-weight: bold;
        font-size: 1rem;
        padding: auto;
    }

    /* третий блок, грид-элемент, грид-контейнер для преимуществ, иконок, фото и цветного прямоугольника */
    #features {
        /*background-color: darkkhaki;*/
        width: 100%;
        grid-area: features;

        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 10% 1fr;

        grid-gap: 4rem;
    }

    /* заголовок второго блока */
    #fh2 {
        padding-left: 10%;
        grid-row: 1/2;
        grid-column: 1/2;
        font-size: 2rem;
        font-weight: 600;
        color: rgb(0, 0, 0);
        justify-self: center;
    }

    /* контейнер для строк преимуществ и иконок */
    #ftr {
        grid-row: 2/3;
        grid-column: 1/2;
        padding-left: 30%;

        display: grid;
        grid-template-columns: 20% 80%;
        grid-template-rows: repeat(3, 1fr);

        width: 100%;
        justify-self: center;
    }

    /* все текстовые блоки-преимущества */
    .f {
        width: 100%;
        color: rgb(0, 0, 0);

        grid-column: 2/3;

        font-size: 1rem;
    }

    .f::first-line {
        font-size: 1.8rem;
    }

    .f1 {
        grid-row: 1/2;
    }

    .f2 {
        grid-row: 2/3;
    }

    .f3 {
        grid-row: 3/4;
    }

    .icon {
        grid-column: 1/2;
    }

    /* контейнер для фото и прямоугольника */
    #ftrphoto {
        display: none;
    }

    /* секция со статьей и тремя картинками справа */
    #collection {
        grid-area: collection;
        width: 100%;
        height: max-content;
    }

    /* контейнер для статьи слева */
    #colarticle {

        height: auto;
        width: 90%;
        padding: 0 10%;
        text-align: center;

    }

    #colarticle #colh2 {
        font-size: 4rem;
    }

    #colarticle .coltext {
        font-size: 2rem;
    }

    #colgallery {
        display: none;
    }

    /* блок со статьей и ссылками */
    #furniture {
        grid-area: furniture;

        display: flex;
        flex-direction: column;

        margin-top: 10%;
    }

    /* контейнер с ссылками */
    .frnt {
        width: 90%;
        padding: 0 10%;
        text-align: center;

        font-size: 2rem;
    }

    /* контейнер для статьи справа */
    #furarticle {
        width: 90%;
        padding: 0 10%;
        text-align: center;

        font-size: 2rem;
    }

    /* заголовок статьи */
    #furh2 {
        color: rgb(0, 0, 0);
        font-weight: 600;
        font-style: normal;
        font-size: 2em;
    }

    /* футер */
    #footer {
        background-color: rgb(9, 58, 122);
        color: #ffffff;
        font-family: 'Roboto', sans-serif;

        grid-area: footer;
    }

    /* меню футера */
    #navfooter {
        width: 80%;
        height: 50px;
        margin: 10% 10% 15% 10%;

        font-weight: 400;
        font-style: normal;
        font-size: 2rem;
        color: rgb(202, 202, 202);

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    /* элементы меню */
    #navfooter .nf {
        margin: 10px;
    }

    /* блок с городами */
    #cities {
        margin: 0 5%;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    /* заголовок блока со городами */
    #footh3 {
        font-family: Nunito, sans-serif;
        font-weight: 600;
        font-style: normal;
        font-size: 2em;
    }

    /* страны */
    .country {
        color: rgb(229, 229, 229);
        font-weight: 400;
        font-size: 1.3em;
    }

    /* города-ссылки */
    .city {
        display: none;
    }

    /* блок с контактами */
    #contacts {
        display: grid;
        grid-template-columns: 1fr 3fr 2fr;
        justify-content: center;
        margin: 2% 0 0 10%;
    }

    /* блок с адресами */
    .address {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;

        font-weight: 400;
        font-style: normal;
        font-size: 0.8rem;
    }

    /* адрес */
    .adr {
        margin: 11px 0;
    }

    /* блок с приложениями */
    .app {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    /* лого гугл приложения */
    .gpl {
        max-width: 100%;
        margin-bottom: 5%;
    }

    /* лого ап стора */
    .aps {
        max-width: 100%;
        margin-bottom: 5%;
    }
}

/* phones and tablets */
@media (min-width: 480px) and (max-width: 759px) {
    #main {
        background: linear-gradient(0.87deg, rgba(2, 55, 135, 0.9) 0.69%, rgba(81, 38, 174, 0.4736) 100.48%, rgba(38, 92, 174, 0.0102906) 100.49%, rgba(195, 195, 196, 0.00520833) 100.5%, #76A6EF 100.51%);

        color: rgb(255, 255, 255);

        height: min-content;
        width: 100%;
        grid-area: main;

        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr) 10% 1.5fr;
    }

    /* хедер, грид-элемент, грид-контейнер для лого и меню */
    #header {
        grid-row: 1/2;
        grid-column: 1/3;

        display: grid;
        grid-template-columns: 20% 80%;
        grid-template-rows: 1fr;
        justify-items: center;
        align-items: center;
    }

    /* логотип, грид-элемент */
    #logo {
        grid-row: 1/2;
        grid-column: 1/2;
    }

    /* меню хедера, грид-элемент, гри-контейнер для ссылок */
    #navheader {
        grid-row: 1/2;
        grid-column: 2/3;

        display: grid;
        grid-template-columns: repeat(auto-fit(4, 200px));
        grid-template-rows: 1fr;
        grid-gap: 2rem;
        text-align: center;

        font-family: Nunito, sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 1.1rem;
    }


    /* настройки заголовка основного блока */
    #h1 {
        width: 60%;
        margin-left: 5%;
        font-weight: 700;
        font-style: normal;
        font-size: 3.5rem;
        grid-row: 2/3;
        grid-column: 1/2;
    }

    /* настройки текста-введения */
    #intro {
        height: max-content;
        width: 100%;
        margin-left: 5%;
        font-weight: 400;
        font-style: normal;
        font-size: 1.5rem;
        grid-row: 3/4;
        grid-column: 1/2;
    }

    /* поле поиска, грид-элемент, грид-контейнер */
    #searchfield {
        background: white;
        grid-row: 4/5;
        grid-column: 1/2;

        width: 80%;
        padding: 10px;
        margin-bottom: 5%;
        justify-self: center;

        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(4, 1fr);
        grid-gap: 1rem;
    }

    /* здесь по идее должны быть формы */
    .sf {
        background-color: rgba(255, 200, 57, 0.5);
    }

    .sf1 {
        grid-row: 1/2;
        grid-column: 1/2;
    }

    .sf2 {
        grid-row: 1/2;
        grid-column: 2/3;
    }

    .sf3 {
        grid-row: 2/3;
        grid-column: 1/2;
    }

    .sf4 {
        grid-row: 2/3;
        grid-column: 2/3;
    }

    .sf5 {
        grid-row: 3/4;
        grid-column: 1/2;
    }

    .sf6 {
        grid-row: 3/4;
        grid-column: 2/3;
    }

    /* кнопка поиска */
    .sfbutton {
        background-color: rgb(255, 200, 57);

        grid-row: 4/5;
        grid-column: 1/3;

        border: none;
        /*border-radius: 10px;*/

        font-family: Nunito, sans-serif;
        font-weight: 600;
        font-style: normal;
        font-size: 1rem;
    }

    /* первый раздел с тремя фото, грид-элемент; флекс для выравнивания по центру */
    #examples {
        height: min-content;
        width: 100%;

        grid-area: examples;

        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        justify-content: center;
    }

    /* блок с фотографиями и текстовыми прямоугольниками, флекс-контейнер */
    #photos {
        margin: auto;

        width: 80%;
        height: max-content;

        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(25vh, 1fr));
        grid-template-rows: 1fr;
    }

    /* размеры фото */
    .photo {
        width: 95%;
        object-fit: cover;
    }

    .photo img {
        width: 100%;
        height: auto;
    }

    /* блок под фото */
    .expl {
        color: #000000;

        height: 15vh;
        width: 100%;

        box-shadow: 0px 4px 35px rgba(196, 143, 7, 0.49);

        display: grid;
        grid-template-columns: 30% 70%;
        grid-template-rows: 1fr;
        justify-content: center;
        align-items: center;
    }

    /* текст внутри блока */
    .expltext {
        font-family: Nunito, sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 0.8rem;
    }


    .arrow {
        background-color: rgb(255, 200, 57);

        grid-column: 1/2;
        width: 40%;
        height: 40%;
        margin-left: 15%;
        border-radius: 50%;
    }

    .arrow span {
        height: 100%;
        color: rgb(0, 0, 0);
        font-weight: bold;
        font-size: 1rem;
        padding: auto;
    }

    /* третий блок, грид-элемент, грид-контейнер для преимуществ, иконок, фото и цветного прямоугольника */
    #features {
        /*background-color: darkkhaki;*/
        grid-area: features;

        display: grid;
        grid-template-columns: 60% 40%;
        grid-template-rows: 10% 1fr;
        grid-gap: 3rem;
    }

    /* заголовок второго блока */
    #fh2 {
        padding-left: 10%;
        grid-row: 1/2;
        grid-column: 1/2;
        font-size: 2rem;
        font-weight: 600;
        color: rgb(0, 0, 0);
    }

    /* контейнер для строк преимуществ и иконок */
    #ftr {
        grid-row: 2/3;
        grid-column: 1/2;
        padding-left: 10%;

        display: grid;
        grid-template-columns: 20% 1fr;
        grid-template-rows: repeat(3, 1fr);
    }


    /* все текстовые блоки-преимущества */
    .f {
        width: 100%;
        color: rgb(0, 0, 0);

        grid-column: 2/3;

        font-size: 1rem;
    }

    .f::first-line {
        font-size: 1.8rem;
    }

    .f1 {
        grid-row: 1/2;
    }

    .f2 {
        grid-row: 2/3;
    }

    .f3 {
        grid-row: 3/4;
    }

    .icon {
        grid-column: 1/2;
    }

    /* контейнер для фото и прямоугольника */
    #ftrphoto {
        grid-row: 2/3;
        grid-column: 2/3;

        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    /* фото справа */
    .fphoto {
        height: 377px;
        width: auto;

        grid-row: 1/2;
        grid-column: 1/2;

        margin-left: 5%;
    }

    /* цветной прямоугольник */
    .frectangle {
        background-color: rgb(255, 200, 57);

        height: 277px;
        width: 221px;
        grid-row: 1/2;
        grid-column: 1/2;
        z-index: -1;
        align-self: flex-start;
        margin-top: 10%;
    }

    /* секция со статьей и тремя картинками справа */
    #collection {
        grid-area: collection;
        width: 100%;
    }

    /* контейнер для статьи слева */
    #colarticle {
        float: left;
        box-sizing: border-box;
        height: auto;
        width: 50%;
        padding-left: 5%;
        padding-right: 5%;
    }

    .colphoto3 {
        display: none;
    }

    /* блок со статьей и ссылками */
    #furniture {
        grid-area: furniture;

        clear: both;
        margin-top: 5%;
    }

    /* контейнер с ссылками */
    .frnt {
        width: 30%;
        padding: 5%;
        margin-top: 5%;
        float: left;
    }

    /* контейнер для статьи справа */
    #furarticle {
        width: 60%;
        box-sizing: border-box;
        padding-right: 5%;
        float: right;
    }

    /* заголовок статьи */
    #furh2 {
        color: rgb(0, 0, 0);
        font-weight: 600;
        font-style: normal;
        font-size: 2em;
    }

    /* футер */
    #footer {
        background-color: rgb(9, 58, 122);
        color: #ffffff;
        font-family: 'Roboto', sans-serif;

        grid-area: footer;
    }

    /* меню футера */
    #navfooter {
        width: 80%;
        height: 50px;
        margin: 0 10%;

        font-weight: 400;
        font-style: normal;
        font-size: 0.9em;
        color: rgb(202, 202, 202);

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    /* блок с городами */
    #cities {
        margin: 0 10%;
    }

    /* заголовок блока с городами */
    #footh3 {
        font-family: Nunito, sans-serif;
        ;
        font-weight: 600;
        font-style: normal;
        font-size: 2em;
    }

    /* страны */
    .country {
        color: rgb(229, 229, 229);
        font-weight: 400;
        font-size: 1.5em;
    }

    /* города-ссылки */
    .city {
        margin: 0 2% 0 0;
        font-size: 1em;
    }

    /* блок с контактами */
    #contacts {
        display: grid;
        grid-template-columns: 1fr 3fr 2fr;
        justify-content: center;
        margin: 2% 0 0 10%;
    }

    /* блок с адресами */
    .address {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;

        font-weight: 400;
        font-style: normal;
        font-size: 0.8rem;
    }

    /* адрес */
    .adr {
        margin: 11px 0;
    }

    /* иконки приложений */
    .app {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    /* лого гугл приложения */
    .gpl {
        max-width: 100%;
        margin-bottom: 5%;
    }

    /* лого ап стора */
    .aps {
        max-width: 100%;
        margin-bottom: 5%;
    }

}

/* tablets, medium desktops */
@media (min-width: 760px) and (max-width: 1199px) {
    #main {
        background: linear-gradient(0.87deg, rgba(2, 55, 135, 0.9) 0.69%, rgba(81, 38, 174, 0.4736) 100.48%, rgba(38, 92, 174, 0.0102906) 100.49%, rgba(195, 195, 196, 0.00520833) 100.5%, #76A6EF 100.51%);

        color: rgb(255, 255, 255);

        height: min-content;
        width: 100%;
        grid-area: main;

        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr) 10% 1.5fr;
    }

    /* хедер, грид-элемент, грид-контейнер для лого и меню */
    #header {
        grid-row: 1/2;
        grid-column: 1/3;

        display: grid;
        grid-template-columns: 20% 80%;
        grid-template-rows: 1fr;
        justify-items: center;
        align-items: center;
    }

    /* логотип, грид-элемент */
    #logo {
        grid-row: 1/2;
        grid-column: 1/2;
    }

    /* меню хедера, грид-элемент, гри-контейнер для ссылок */
    #navheader {
        grid-row: 1/2;
        grid-column: 2/3;

        display: grid;
        grid-template-columns: repeat(auto-fit(4, 200px));
        grid-template-rows: 1fr;
        grid-gap: 2rem;
        text-align: center;

        font-family: Nunito, sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 1.1rem;
    }


    /* настройки заголовка основного блока */
    #h1 {
        width: 60%;
        margin-left: 5%;
        font-weight: 700;
        font-style: normal;
        font-size: 3.5rem;
        grid-row: 2/3;
        grid-column: 1/2;
    }

    /* настройки текста-введения */
    #intro {
        height: max-content;
        width: 100%;
        margin-left: 5%;
        font-weight: 400;
        font-style: normal;
        font-size: 1.5rem;
        grid-row: 3/4;
        grid-column: 1/2;
    }

    /* поле поиска, грид-элемент, грид-контейнер */
    #searchfield {
        background: white;
        grid-row: 4/5;
        grid-column: 1/2;

        width: 70%;
        padding: 10px;
        margin-bottom: 5%;
        justify-self: center;

        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(4, 1fr);
        grid-gap: 1rem;
    }

    /* здесь по идее должны быть формы */
    .sf {
        background-color: rgba(255, 200, 57, 0.5);
    }

    .sf1 {
        grid-row: 1/2;
        grid-column: 1/2;
    }

    .sf2 {
        grid-row: 1/2;
        grid-column: 2/3;
    }

    .sf3 {
        grid-row: 2/3;
        grid-column: 1/2;
    }

    .sf4 {
        grid-row: 2/3;
        grid-column: 2/3;
    }

    .sf5 {
        grid-row: 3/4;
        grid-column: 1/2;
    }

    .sf6 {
        grid-row: 3/4;
        grid-column: 2/3;
    }

    /* кнопка поиска */
    .sfbutton {
        background-color: rgb(255, 200, 57);

        grid-row: 4/5;
        grid-column: 1/3;

        border: none;
        /*border-radius: 10px;*/

        font-family: Nunito, sans-serif;
        font-weight: 600;
        font-style: normal;
        font-size: 1rem;
    }

    /* первый раздел с тремя фото, грид-элемент; флекс для выравнивания по центру */
    #examples {
        /*background-color: burlywood;*/

        height: min-content;
        width: 100%;

        grid-area: examples;

        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        justify-content: center;
    }

    /* блок с фотографиями и текстовыми прямоугольниками, флекс-контейнер */
    #photos {
        margin: auto;

        width: 80%;
        height: max-content;

        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(25vh, 1fr));
        grid-template-rows: 1fr;
    }

    /* размеры фото */
    .photo {
        width: 95%;
        object-fit: cover;
    }

    .photo img {
        width: 100%;
        height: auto;
    }

    /* блок под фото */
    .expl {
        color: #000000;

        height: 15vh;
        width: 100%;

        box-shadow: 0px 4px 35px rgba(196, 143, 7, 0.49);

        display: grid;
        grid-template-columns: 30% 70%;
        grid-template-rows: 1fr;
        justify-content: center;
        align-items: center;
    }

    /* текст внутри блока */
    .expltext {
        font-family: Nunito, sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 0.9rem;
    }

    .arrow {
        background-color: rgb(255, 200, 57);

        grid-column: 1/2;
        width: 40%;
        height: 40%;
        margin-left: 15%;
        border-radius: 50%;
    }

    .arrow span {
        height: 100%;
        color: rgb(0, 0, 0);
        font-weight: bold;
        font-size: 1rem;
        padding: auto;
    }

    /* третий блок, грид-элемент, грид-контейнер для преимуществ, иконок, фото и цветного прямоугольника */
    #features {
        /*background-color: darkkhaki;*/
        grid-area: features;

        display: grid;
        grid-template-columns: 60% 40%;
        grid-template-rows: 10% 1fr;
        grid-gap: 3rem;
    }

    /* заголовок второго блока */
    #fh2 {
        padding-left: 10%;
        grid-row: 1/2;
        grid-column: 1/2;
        font-size: 2rem;
        font-weight: 600;
        color: rgb(0, 0, 0);
    }

    /* контейнер для строк преимуществ и иконок */
    #ftr {
        grid-row: 2/3;
        grid-column: 1/2;
        padding-left: 10%;

        display: grid;
        grid-template-columns: 20% 1fr;
        grid-template-rows: repeat(3, 1fr);
    }

    /* все текстовые блоки-преимущества */
    .f {
        width: 100%;
        color: rgb(0, 0, 0);

        grid-column: 2/3;

        font-size: 1rem;
    }

    .f::first-line {
        font-size: 1.8rem;
    }

    .f1 {
        grid-row: 1/2;
    }

    .f2 {
        grid-row: 2/3;
    }

    .f3 {
        grid-row: 3/4;
    }

    .icon {
        grid-column: 1/2;
    }

    /* контейнер для фото и прямоугольника */
    #ftrphoto {
        grid-row: 2/3;
        grid-column: 2/3;

        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    /* фото справа */
    .fphoto {
        height: 377px;
        width: auto;

        grid-row: 1/2;
        grid-column: 1/2;

        margin-left: 5%;
    }

    /* цветной прямоугольник */
    .frectangle {
        background-color: rgb(255, 200, 57);

        height: 277px;
        width: 221px;
        grid-row: 1/2;
        grid-column: 1/2;
        z-index: -1;
        align-self: flex-start;
        margin-top: 10%;
    }

    /* секция со статьей и тремя картинками справа */
    #collection {
        grid-area: collection;

        width: 100%;
    }

    /* контейнер для статьи слева */
    #colarticle {
        float: left;
        box-sizing: border-box;
        height: auto;
        width: 50%;
        padding-left: 5%;
        padding-right: 5%;
    }

    .colphoto3 {
        display: none;
    }

    /* контейнер для трех фото справа */
    #colgallery {
        height: max-content;
        width: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    /* блок со статьей и ссылками */
    #furniture {
        grid-area: furniture;

        clear: both;
        margin-top: 5%;
    }

    /* контейнер с ссылками */
    .frnt {
        width: 30%;
        padding: 5%;
        margin-top: 5%;
        float: left;
    }

    /* контейнер для статьи справа */
    #furarticle {
        width: 60%;
        box-sizing: border-box;
        padding-right: 5%;
        float: right;
    }

    /* заголовок статьи */
    #furh2 {
        color: rgb(0, 0, 0);
        font-weight: 600;
        font-style: normal;
        font-size: 2em;
    }

    /* футер */
    #footer {
        background-color: rgb(9, 58, 122);
        color: #ffffff;
        font-family: 'Roboto', sans-serif;

        grid-area: footer;
    }

    /* меню футера */
    #navfooter {
        width: 80%;
        height: 50px;
        margin: 0 10%;

        font-weight: 400;
        font-style: normal;
        font-size: 0.9em;
        color: rgb(202, 202, 202);

        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
    }

    /* блок с городами */
    #cities {
        margin: 0 10%;
    }

    /* заголовок блока с городами */
    #footh3 {
        font-family: Nunito, sans-serif;
        font-weight: 600;
        font-style: normal;
        font-size: 2em;
    }

    /* страны */
    .country {
        color: rgb(229, 229, 229);
        font-weight: 400;
        font-size: 1.3em;
    }

    /* города-ссылки */
    .city {
        margin: 0 2% 0 0;
    }

    /* блок с контактами */
    #contacts {
        display: grid;
        grid-template-columns: 1fr 3fr 2fr;
        justify-content: center;
        margin: 2% 0 0 10%;
    }

    /* блок с адресами */
    .address {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;

        font-weight: 400;
        font-style: normal;
        font-size: 0.7em;
    }

    /* адрес */
    .adr {
        margin: 11px 0;
    }

    /* блок с иконками приложений */
    .app {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    /* лого гугл приложения */
    .gpl {
        max-width: 100%;
        margin-bottom: 5%;
    }

    /* лого ап стора */
    .aps {
        max-width: 100%;
        margin-bottom: 5%;
    }
}

/*______________________________________________________________________*/

/* large desktops and laptops */
@media (min-width: 1200px) {

    /* основной блок, грид-элемент, грид-контейнер из 12 колонок для хедера, заголовка, интро и поля поиска */
    #main {
        background: linear-gradient(0.87deg, rgba(2, 55, 135, 0.9) 0.69%, rgba(81, 38, 174, 0.4736) 100.48%, rgba(38, 92, 174, 0.0102906) 100.49%, rgba(195, 195, 196, 0.00520833) 100.5%, #76A6EF 100.51%);

        color: rgb(255, 255, 255);

        height: min-content;
        width: 100%;
        grid-area: main;

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(9, 1fr);
    }

    /*#background {
        grid-row: 1/10;
        grid-column: 1/3;
        z-index: -1;
        width: 100%;
    }*/

    /* хедер, грид-элемент, грид-контейнер для лого и меню */

    #header {
        grid-row: 1/2;
        grid-column: 1/3;
        margin-top: 5%;

        display: grid;
        grid-template-columns: 20% 80%;
        grid-template-rows: 1fr;
        justify-items: center;
        align-items: center;
    }

    /* логотип, грид-элемент */
    #logo {
        grid-row: 1/2;
        grid-column: 1/2;
    }

    /* меню хедера, грид-элемент, гри-контейнер для ссылок */
    #navheader {
        grid-row: 1/2;
        grid-column: 2/3;

        display: grid;
        grid-template-columns: repeat(auto-fit(4, 200px));
        grid-template-rows: 1fr;
        grid-gap: 2rem;
        text-align: center;

        font-family: Nunito, sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 1.5rem;
    }


    /* настройки заголовка основного блока */
    #h1 {
        width: 60%;
        margin-left: 5%;
        font-weight: 700;
        font-style: normal;
        font-size: 3.5rem;
        grid-row: 3/5;
        grid-column: 1/3;
    }

    /* настройки текста-введения */
    #intro {
        height: max-content;
        width: 100%;
        margin-left: 5%;
        font-weight: 400;
        font-style: normal;
        font-size: 1.5rem;
        grid-row: 5/7;
        grid-column: 1/3;
    }

    /* поле поиска, грид-элемент, грид-контейнер */
    #searchfield {
        background: white;
        grid-row: 7/9;
        grid-column: 1/3;

        width: 70%;
        padding: 10px;
        margin: 0 5%;

        display: grid;
        grid-template-columns: 5% repeat(5, 1fr) 5%;
        grid-template-rows: 1fr 1fr;
        grid-gap: 1rem;
    }

    /* здесь по идее должны быть формы */
    .sf {
        background-color: rgba(255, 200, 57, 0.5);
    }

    .sf1 {
        grid-row: 1/2;
        grid-column: 2/3;
    }

    .sf2 {
        grid-row: 1/2;
        grid-column: 3/7;
    }

    .sf3 {
        grid-row: 2/3;
        grid-column: 2/3;
    }

    .sf4 {
        grid-row: 2/3;
        grid-column: 3/4;
    }

    .sf5 {
        grid-row: 2/3;
        grid-column: 4/5;
    }

    .sf6 {
        grid-row: 2/3;
        grid-column: 5/6;
    }

    /* кнопка поиска */
    .sfbutton {
        background-color: rgb(255, 200, 57);

        grid-row: 2/3;
        grid-column: 6/7;

        border: none;
        /*border-radius: 10px;*/

        font-family: Nunito, sans-serif;
        font-weight: 600;
        font-style: normal;
        font-size: 1rem;
    }

    /* первый раздел с тремя фото, грид-элемент; флекс для выравнивания по центру */
    #examples {
        /*background-color: burlywood;*/

        height: min-content;
        width: 100%;

        grid-area: examples;

        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        justify-content: center;
    }

    /* блок с фотографиями и текстовыми прямоугольниками, грид-контейнер */
    #photos {
        margin: auto;

        width: 80%;
        height: max-content;

        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(25vh, 1fr));
        grid-template-rows: 1fr;
    }

    /* размеры фото */
    .photo {
        width: 95%;
        object-fit: cover;
    }

    .photo img {
        width: 100%;
        height: auto;
    }

    /* блок под фото */
    .expl {
        color: #000000;

        height: 15vh;
        width: 100%;

        box-shadow: 0px 4px 35px rgba(196, 143, 7, 0.49);

        display: grid;
        grid-template-columns: 30% 70%;
        grid-template-rows: 1fr;
        justify-content: center;
        align-items: center;
    }

    /* текст внутри блока */
    .expltext {
        font-family: Nunito, sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 1rem;
    }


    .arrow {
        background-color: rgb(255, 200, 57);

        grid-column: 1/2;
        width: 40%;
        height: 40%;
        margin-left: 15%;
        border-radius: 50%;
    }

    .arrow span {
        height: 100%;
        color: rgb(0, 0, 0);
        font-weight: bold;
        font-size: 1rem;
        padding: auto;
    }

    /* третий блок, грид-элемент, грид-контейнер для преимуществ, иконок, фото и цветного прямоугольника */
    #features {
        /*background-color: darkkhaki;*/
        grid-area: features;

        display: grid;
        grid-template-columns: 60% 40%;
        grid-template-rows: 10% 1fr;
        grid-gap: 3rem;
    }

    /* заголовок второго блока */
    #fh2 {
        padding-left: 10%;
        grid-row: 1/2;
        grid-column: 1/2;
        font-size: 2rem;
        font-weight: 600;
        color: rgb(0, 0, 0);
    }

    /* контейнер для строк преимуществ и иконок */
    #ftr {
        grid-row: 2/3;
        grid-column: 1/2;
        padding-left: 10%;

        display: grid;
        grid-template-columns: 20% 1fr;
        grid-template-rows: repeat(3, 1fr);
    }


    /* все текстовые блоки-преимущества */
    .f {
        width: 100%;
        color: rgb(0, 0, 0);

        grid-column: 2/3;

        font-size: 1.3em;
    }

    .f::first-line {
        font-size: 2em;
    }

    .f1 {
        grid-row: 1/2;
    }

    .f2 {
        grid-row: 2/3;
    }

    .f3 {
        grid-row: 3/4;
    }

    .icon {
        grid-column: 1/2;
    }

    /* контейнер для фото и прямоугольника */
    #ftrphoto {
        grid-row: 2/3;
        grid-column: 2/3;

        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    /* фото справа */
    .fphoto {
        height: 477px;
        width: auto;

        grid-row: 1/2;
        grid-column: 1/2;

        margin-left: 5%;
    }

    /* цветной прямоугольник */
    .frectangle {
        background-color: rgb(255, 200, 57);

        height: 377px;
        width: 321px;
        grid-row: 1/2;
        grid-column: 1/2;
        z-index: -1;
        align-self: flex-start;
        margin-top: 10%;
    }

    /* секция со статьей и тремя картинками справа */
    #collection {
        grid-area: collection;

        width: 100%;

        /*display: grid;
    grid-template-columns: 1fr 60%;
    grid-gap: 5%;*/
    }

    /* контейнер для статьи слева */
    #colarticle {
        float: left;
        box-sizing: border-box;
        height: auto;
        width: 50%;
        padding-left: 5%;
        padding-right: 5%;
    }

    /* контейнер для трех фото справа */
    #colgallery {
        height: max-content;
        width: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    /* блок со статьей и ссылками */
    #furniture {
        grid-area: furniture;

        clear: both;
        margin-top: 5%;
    }

    /* контейнер с ссылками */
    .frnt {
        width: 40%;
        padding: 5%;
        margin-top: 5%;
        float: left;
    }

    /* контейнер для статьи справа */
    #furarticle {
        width: 50%;
        box-sizing: border-box;
        padding-right: 5%;
        float: right;
    }

    /* заголовок статьи */
    #furh2 {
        color: rgb(0, 0, 0);
        font-weight: 600;
        font-style: normal;
        font-size: 2em;
    }

    /* футер */
    #footer {
        background-color: rgb(9, 58, 122);
        color: #ffffff;
        font-family: 'Roboto', sans-serif;

        grid-area: footer;
    }

    /* меню футера */
    #navfooter {
        width: 80%;
        height: 50px;
        margin: 0 10%;

        font-weight: 400;
        font-style: normal;
        font-size: 0.9em;
        color: rgb(202, 202, 202);

        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
    }

    /* блок с городами */
    #cities {
        margin: 0 10%;
    }

    /* заголовок блока с городами */
    #footh3 {
        font-family: Nunito, sans-serif;
        font-weight: 600;
        font-style: normal;
        font-size: 2em;
    }

    /* страны */
    .country {
        color: rgb(229, 229, 229);
        font-weight: 400;
        font-size: 1.3em;
    }

    /* города-ссылки */
    .city {
        margin: 0 2% 0 0;
    }

    /* блок с контактами */
    #contacts {
        display: grid;
        grid-template-columns: 1fr 3fr 2fr;
        justify-content: center;
        margin: 2% 0 0 10%;
    }

    /* блок с адресами */
    .address {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;

        font-weight: 400;
        font-style: normal;
        font-size: 0.7em;
    }

    /* адрес */
    .adr {
        margin: 11px 0;
    }

    /* блок с иконками приложений */
    .app {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
    }

    /* лого гугл приложения */
    .gpl {
        max-width: 100%;
        margin-bottom: 5%;
    }

    /* лого ап стора */
    .aps {
        max-width: 100%;
        margin-bottom: 5%;
    }
}

/*#background {
    grid-row: 1/2;
    grid-column: 1/13;
    z-index: -1;
    width: 100%;
}*/

/* ссылки меню, грид-элементы, на всех дисплеях одинаково */
.nav1 {
    grid-row: 1/2;
    grid-column: 1/2;
    justify-self: end;
    /* выравнивание в конец блока для ровности, тк длина слов всех пунктов в меню неодинакова, */
}

.nav2 {
    grid-row: 1/2;
    grid-column: 2/3;
}

.nav3 {
    grid-row: 1/2;
    grid-column: 3/4;
}

.nav4 {
    grid-row: 1/2;
    grid-column: 4/5;
}

/* появление цвета при наведении на блок */
.expl:hover {
    background-color: rgb(255, 200, 57);
}

.expl:hover .arrow {
    background-color: rgb(255, 255, 255);
}


/* секция для отправки телефона */
#telephone {
    grid-area: telephone;

    display: grid;
    grid-template-columns: 1fr 90% 1fr;
}

/* желтый прямоугольник с текстом и формой */
#tel {
    background-color: #FFF5DA;
    grid-column: 2/3;

    padding: 7rem;
    margin: 3rem;
}

/* заголовок над белым прямоугольником с формой */
#telh2 {
    font-style: normal;
    font-weight: 600;
    font-size: 2em;
    line-height: 39px;
    color: #323232;
    width: auto;
}

/* текст над белым прямоугольником с формой */
.teltext {
    font-style: normal;
    font-weight: 400;
    font-size: 1.5em;
    color: #646464;
    width: auto;
}

/* белый прямоугольник с формой и кнопкой */
.telform {
    width: 600px;
    height: 50px;
    background-color: #ffffff;

    display: grid;
    grid-template-columns: 0.5fr 3fr 1fr;
    justify-content: space-between;
    align-items: center;

    margin-top: 2em;
}

/* иконка флага */
.flag-icon {
    width: 50px;
    height: 30px;
    justify-self: end;
}

/* поле ввода телефона */
.telinput {
    border: none;
    width: 90%;
}

/* кнопка отправки телефона */
.telbutton {
    background-color: rgb(255, 200, 57);
    color: #000000;
    width: 120px;
    height: 40px;

    border: none;

    font-style: normal;
    font-weight: 400;
    font-size: 1.5em;
    color: #000000;
}

/* секция-галерея картинок */
#gallery {
    grid-area: gallery;
    width: 100%;
}

/* заголовок секции-галерея картинок */
#galh2 {
    width: 100%;
    padding-left: 5%;
    color: rgb(0, 0, 0);
    font-weight: 600;
    font-style: normal;
    font-size: 2em;
}

.gal {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 1.5em;
    padding: 5%;
}

.galphoto {
    object-fit: cover;
}

/* кнопка под статьей */
.colbutton {
    border: none;
    background-color: rgb(255, 200, 57);
    box-shadow: (0px 4px 22px rgba(0, 0, 0, 0.16));
    width: 216px;
    height: 40px;

    font-weight: 400;
    font-style: normal;
    font-size: 1.5em;
}

/* заголовок статьи */
#colh2 {
    color: rgb(0, 0, 0);
    font-weight: 600;
    font-style: normal;
    font-size: 2em;
}

/* текст статьи */
.coltext {
    color: rgb(96, 96, 96);
    font-weight: 400;
    font-style: normal;
    font-size: 1em;
    line-height: 1.4em;
}

/* каждое фото в контейнере */
.colphoto {
    height: 100%;
    margin: 1%;
}

/* цвет ссылок */
.frnt a {
    color: rgb(0, 0, 0);
}

/* текст статьи */
.furtext {
    color: rgb(96, 96, 96);
    font-weight: 400;
    font-style: normal;
    font-size: 1em;
}

.furtext::first-line {
    font-size: 1.5em;
}


/*  
@media (max-width: 320px) {
@media (min-width: 321px) and (max-width: 480px) {}
@media (orientation: landscape),
(min-width: 481px) and (max-width: 760px) {}
@media (min-width: 761px) and (max-width: 1200px) {}
@media (min-width: 1201px) {}*/